body {
    font-size: 100%;
}

.container {

    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;

    display: grid;

    grid-template-rows: 4rem 2rem 1fr 2rem;
    grid-template-columns: 4fr 1fr;

    grid-template-areas: 
        "header header"
        "juan juan"
        "content sidebar"
        "footer footer";
}

#page-header {
    grid-area: header;
    background-color: aqua;
}

#main-menu {
    grid-area: juan;
    background-color: coral;
}

#content {
    grid-area: content;
    background-color: cornflowerblue;
}

#sidebar {
    grid-area: sidebar;
    background-color: rosybrown;
}

#footer {
    background-color: yellowgreen;
    grid-area: footer;
}